
h1 {

    color: red;
    margin-top: 10px;


}

h3 {

    text-align: center;
    color: blue;
    font-weight: bold;



}


img {

    margin-left: 100px;
    

}

.navbar-brand {

    
    background-color: aqua;


}
