
h1 {

    color: #0BADA6;
    margin-top: 10px;
    background-color: white;

}

h3 {

    text-align: center;
    color: #0BADA6;
    font-weight: bold;



}


img {

    margin-left: 100px;
    

}

.navbar-brand {

    
    background-color:#0BADA6;


}

body {

    background-color: #cdcdcd;


}

.box {

    background-color: white;


}

