body {

    background-color: #cdcdcd;


}

p {

    background-color: white;

}

h1 {

    color: aqua;
    background-color: white;
    margin-top: 50px;
}

h2 {

    color: aqua;
    background-color: white;
}

br {
    background-color: white;

}