body {

    background-color: #cdcdcd;


}

p {

    background-color: white;
    
    
}

h3 {

    color: #0BADA6;
    text-align: center;
    margin-top: 50px;
    background-color: white;

}

h2 {

    color: #0BADA6;
    background-color: white;
}

br {
    background-color: white;

}

.container {

    margin-top: 50px;
 


}



.navbar-brand {

    
    background-color:#0BADA6;


}

.box {

    background-color: white;


}

img {

    margin-left: 50px;

}