body {

    background-color: #cdcdcd;


}

p {

    background-color: white;
    
    
}

h3 {

    color: aqua;
    background-color: white;
    margin-top: 50px;
    

}

h2 {

    color: aqua;
    background-color: white;
}

br {
    background-color: white;

}

.container {

    margin-top: 50px;
    border-style: solid;
    border-width: 5px;
    border-color: black;


}

img {

    margin-left: 50px;
}

.navbar-brand {

    
    background-color: aqua;


}

